.homePage_levels {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: max-content;
}

.homePage_levels_level {
  width: 13rem;
  height: 40px;
  border-radius: 4px;
  background-color: rgb(20, 89, 146, 0.9);
  margin: 7px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.homePage_levels_imgs {
  margin-right: 10px;
}

.homePage_levels_level img {
  width: 30px;
  margin: 5px 4px 0 2px
}
.homePage_levels_level p {
  margin: 11px 15px;
}

.homePage_levels_level:hover {
  box-shadow: 3px 0 3px rgba(46, 46, 46, 0.6), -3px 0 3px rgba(46, 46, 46, 0.6),
    0 3px 3px rgba(46, 46, 46, 0.6), 0 3px 3px rgba(46, 46, 46, 0.6);
}