
.homePage_game {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-left: 1px solid rgb(228, 201, 163, 0.5);
  box-shadow: -2px 0px 3px rgba(216, 206, 206, 0.5);
  overflow:hidden;
}

.gameInfo {
  padding: 20px;
  font-size: 1.4rem;
  text-shadow:  -1px -1px rgb(58, 55, 55), -1px 2px rgb(105, 103, 103);
  letter-spacing: 1px;
  margin-left: 2rem;
}

input[type=button]{
  width: 90%;
  height: 2.4rem;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  font-family: 'Arimo', sans-serif;
  border: 2px solid rgb(243, 237, 237);
  border-radius: 4px;
  background-color: rgba(155, 147, 81, 0.7);
  color: rgb(243, 237, 237);
  cursor: pointer;
}
input[type=button]:hover {
  box-shadow:2px 2px rgb(173, 170, 170), -2px -2px rgb(173, 170, 170); 
}

.btn_disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey !important;
  background-color: rgb(192, 185, 121, 0.3) !important;
  border: 2px solid gray !important;
}




.gameInfo-buttons-group1 {
  margin-bottom: 2rem;
}
.gameInfo-levels {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
