@import url(./assets/css/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Kanit:ital@1&display=swap');


.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 7fr;
  overflow-y: hidden;
  max-height: 100vh;

  background-image: url(./assets/images/background_black.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: 'Arimo', sans-serif;
  color: white;
}

