@import url(./assets/css/normalize.css);

.app {
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow-y:hidden;
}